@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none !important;
}

.container {

    max-width: 750px;
    padding: 0 10px;
    margin: 0 auto;
}

.fc-toolbar-chunk button:nth-child(2), .fc-event-time {
    display: none
}

.fc-direction-ltr {
    width: 100%;
}

.fc .fc-daygrid-day-frame {
    display: flex;
    justify-content: center;
    align-items: center;

}

.fc-theme-standard td, table, .fc-theme-standard td {
    border: none !important;

}
.fc .fc-button-primary{
    background: none!important;
    border: none!important;
    outline: none!important;
}
.fc-icon-chevron-right::before{
    content: url("./component/icons/next.svg");
}.fc-icon-chevron-left::before{
    content: url("./component/icons/prev.svg");
}
.fc .fc-button-primary:focus{box-shadow: none!important;}
.fc-daygrid-event {
    z-index: -10 !important;
    color: white !important;
    padding: 5px;
}

.fc-event-start {
    border: none !important;
    border-bottom-left-radius: 300px;
    border-top-left-radius: 300px;
}
.fc-event-end {
    border: none !important;
    border-bottom-right-radius: 300px;
    border-top-right-radius: 300px;
}